.App {
  margin: 10px;
}

.Board {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  vertical-align: center;
}

.Board td {
  border-style: solid;
  border-width: 1px;
  height: 50px;
  width: 50px;
}

.City {
  background-color: cadetblue;
}

.City.visited {
  background-color: rgb(46, 102, 104);
}

.Road {
  background-color: tan;
}

.Road.closed {
  text-decoration: line-through;
  background-color: orange;
}